<!doctype html>
<html lang="rus">
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>Отзывы о</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/carousel/">
    <link href="/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <meta name="theme-color" content="#7952b3">
    <link href="/static/style.css" rel="stylesheet">
    <link href="/static/carousel.css" rel="stylesheet">
  </head>


  <body class="color2">


<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <div class="container-fluid">
      <h4>Отзывы о</h4>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Зарегестрироваться</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>


<main>
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1">
      </button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1"
              aria-label="Slide 2">
      </button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2"
              aria-label="Slide 3">
      </button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#16191c"/></svg>
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Кино</h1>
            <p>Здесь Вы можете прочесть или написать свой отзыв на какой-либо фильм. Чтобы оставить свой отзыв, Вам необходимо зарегестрироваться на сайте</p>
            <p><a class="btn btn-lg btn-primary" href="{{ url_for('get_section_films') }}">Подробнее</a></p>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#16191c"/></svg>
        <div class="container">
          <div class="carousel-caption">
            <h1>Отзывы о книгах</h1>
            <p>Вот здесь Вы можете прочесть или, если хотите, оставить отзыв на какю-либо книгу, однако оставить отзыв может только зарегистрированный пользователь</p>
            <p><a class="btn btn-lg btn-primary" href="{{ url_for('get_section_books') }}">Подробнее</a></p>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#16191c"/></svg>
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Отзывы о видеоиграх</h1>
            <p>А вот здесь Вы можете ознакомиться с уже существующими отзывами о видеоиграх или оставить свой, но оставить отзыв является возможным только для зарегестрированных пользователей</p>
            <p><a class="btn btn-lg btn-primary" href="{{ url_for('get_section_video_games') }}">Подробнее</a></p>
          </div>
        </div>
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Назад</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Далее</span>
    </button>
  </div>

  <div class="marketing">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4">
          <h2>Кино</h2>
          <p>Здесь Вы можете прочесть или написать свой отзыв на какой-либо фильм</p>
        </div>
        <div class="col-lg-4">
          <h2>Книги</h2>
          <p>Вот здесь Вы можете прочесть или, если хотите, оставить отзыв на какю-либо книгу</p>
        </div>
        <div class="col-lg-4">
          <h2>Видеоигры</h2>
          <p>А вот здесь Вы можете ознакомиться с уже существующими отзывами о видеоиграх или оставить свой</p>
        </div>
      </div>
    </div>
  </div>
</main>

    <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

  </body>
</html>